header {
  width: 100%;
  color: #fff;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 500;

  .header-content {
    width: 70%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-nav {
    ul {
      display: flex;
      gap: 1.5rem;
      list-style-type: none;
      margin-top: 1rem;
      align-items: center;
      li {
        font-weight: 500;
        letter-spacing: 0.06em;
        position: relative;
      }
      .nav-button {
        a {
          background: rgba(39, 168, 242, 0.90);
          padding: 0.5em 1rem;
          border-radius: 1.3em;
        }
      }

        a {
          text-decoration: none;
          color: white;
          &:visited {
            color: white;
          }
        }
  
      .nav-active-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        color: rgba(255, 255, 255, 0.9);
        &::after {
          content: "";
          width: 100%;
          height: 2px;
          background-color: #fff;
          border-radius: 2px;
          position: absolute;
          bottom: -.5rem;
        }
      }
    }
  }

  .nav-logo {
    transition: all 200ms ease-in-out;
  }

  .logo-after {
    position: relative;
    -webkit-filter: drop-shadow(0px 4px 40px #00000080);
    filter: drop-shadow(0px 4px 40px #00000080);
  }

  .logo-before {
    position: absolute;
    bottom: -9px;
    left: 0;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.50));
  }

  .logo-div {
    position: relative;
  }

  .logo-page-scrolled {
    display: flex;
    flex-direction: column;
    img {
      transform: translateY(-3.7rem);
    }
    .logo-after {
      opacity: 0;
    }
  }
  .header-background {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    border-bottom: 1px solid rgba(171, 171, 171, 0.3);
    background: linear-gradient(180deg, rgba(0, 48, 77, 0.49) 0%, rgba(0, 105, 175, 0.452) 100%);
    backdrop-filter: blur(11.5px);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    z-index: -9;
    transition: all 200ms ease-in-out;
  }
  .show-background {
    opacity: 1;
  }
}

